/* här lägger vi till  */
body {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 5%,
    rgba(253, 29, 29, 1) 61%,
    rgba(252, 176, 69, 1) 100%
  );
}

h1 {
  color: white;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.textfield {
  width: 25rem;
  height: 1.5rem;
  background-color: white;
  border-radius: 0.5rem;
}

.flex {
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: center;
}

.input-label {
  flex-basis: 45%;
  color: rgb(0, 0, 0);
  font-family: "Courier New", Courier, monospace;
}

.form-group {
  flex-basis: 50rem;
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
}

.checkbox {
  margin: 0rem;
}

.input-group {
  display: flex;
  margin-bottom: 0.5rem;
}

.delete-button {
  background: rgba(252, 176, 69, 1);
  width: 7.5rem;
  height: 2rem;
  border-radius: 0.5rem;
  font-family: "Courier New", Courier, monospace;
}
